//
// user.scss
// Use this to write your custom SCSS
//

.m-l-0 {
  margin-left: 0;
}

.m-r-0 {
  margin-right: 0;
}

.p-l-0 {
  padding-left: 0;
}

.p-r-0 {
  padding-right: 0;
}

.border-bottom-no-radius {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
