.header {
  height:700px;
  background-image: url('/images/space-landing/space_landing_header_bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.header .wrapper {
  height:700px;
}
.overlay {
  position: absolute;
  background: rgba(85,85,85,0.5);
  border-radius: 2px;
  height: 700px;
  width: 100%;
}
.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 938px;
  position: relative;
}
.welcome-box-img-wrapper{
  height:300px;
}
.welcome-box img {
  height:100%;
  width: 100%;
}
.card {
  background: rgba(104,158,163,1);
  height: 100%;
  width: 100%;
  padding-left: 10%;
}
.practice {
  height:700px;
  background-image: url('/images/space-landing/space_landing_practice_bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.contact {
  background: rgba(104,158,163,1);
}
.intro {
  background: rgba(230,233,240,1);
}
.intro-wrapper {
  width:750px;
  margin: auto;
}
.phone-icon {
  font-size: 20px;
  margin-right: 10px;
  color: #354d81;
}
.footer {
  background: rgba(104,158,163,1);
}
.btn-more-detail {
  background:transparent;
  border-color: white;
}
.btn-more-detail:hover {
  color: white;
  background: rgba(255, 255, 255, 0.5);
  border-color: white;
}
.btn-request-tour {
  border:1px solid white;
}
.btn-request-tour:hover{
  background: rgba(244,123,96,0.5);
  box-shadow: none;
  color: white;
  border-color: white;
}